{% extends "base_generic.html" %}

{% load crispy_forms_tags %}

{% block title %}{{ case.id }}{% endblock %}

{% block content %}
<div class="row mx-2 mt-2" style="color: #555D60;">
        <div class="col-3">
            <div class="card mt-3" style="border-color: #D76C5E;">
                <h2 class="card-header text-white" style="background-color: #D76C5E;">{{ case.id }}</h2>
                <div class="card-body">
                    <p><strong>Physician: </strong>{{ case.owner }}</p>

                    <p><strong>Differential Diagnosis: </strong><br>
                        {% if case.diff_diagnosis %}
                        {{ case.diff_diagnosis }}
                        {% else %}
                        -
                        {% endif %}</p>

                    <strong>Uploaded by: </strong>
                    <ul class="list-inline">
                        <li class="list-inline-item">{{ case.upload_user }}</li>
                        <li class="list-inline-item text-muted">({{ case.upload_time }})</li>
                    </ul>

                    <strong>Verified by: </strong>
                    {% if case.get_status != 'waiting' %}
                    <ul class="list-inline">
                        <li class="list-inline-item">{{ case.confirm_user }}</li>
                        <li class="list-inline-item text-muted">({{ case.confirm_time }})</li>
                    </ul>
                    {% else %}
                    <p>-</p>
                    {% endif %}
                    <hr class="mt-4 mb-4">
                    <div class="mt-3">
                        <strong>Result: </strong>
                        <!--  Interpretation For Case  -->
                        {% if perms.verification.change_case or case.get_status == 'accepted' %}
                            {% if case.result == 0 %}
                        <h5 class="text-success"> No Philadelphia Abnormality is detected</h5>
                            {% elif case.result == 1 %}
                                <h5 class="text-danger">Philadelphia Abnormality is possible</h5>
                            {% else %}
                                <h5 class="text-warning">This metaphase image can't be detected</h5>
                            {% endif %}
                        {% else %}
                        <h5 class="text-warning">Detection results are rejected</h5>
                        {% endif %}
                    </div>

                    <!--  Verification Button (Accept&Reject)  -->
                    {% if perms.verification.change_case %}
                    <form method="post" class="mt-3 text-center" id="confirm-form">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ case.id }}">
                        <button type="submit" value="accept" name="result" class="btn btn-success"><i
                                class="fas fa-check-circle"></i> Accept
                        </button>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal"><i
                                class="fas fa-times-circle"></i> Reject
                        </button>

                        <!--    Modal    -->
                        <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <!--  Model Header  -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Rejection Message</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <!--  Model Body  -->
                                    <div class="modal-body">
                                        <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
                                            {% for error in form.non_field_errors %}
                                            {{ error }}
                                            {% endfor %}
                                        </div>
                                        <div class="form-group">
                                            <textarea form="confirm-form" class="form-control align-top" name="message" rows="5"></textarea>

                                            <div class="{% if field.errors %} invalid{% endif %}">
                                                {% for error in field.errors %}
                                                <p class="help-block">{{ error }}</p>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <!--  Model Footer  -->
                                    <div class="modal-footer">
                                        <button type="submit" value="reject" name="result" class="btn btn-primary"><i
                                                class="fas fa-paper-plane"></i> Submit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    {% endif %}
                </div>
            </div>
            {% if case.reject_message %}
            <div class="alert alert-danger mt-2 w-100" role="alert">
                <i class="fas fa-comment-medical"></i> {{ case.reject_message }}
            </div>
            {% endif %}
        </div>
        <div class="col-9">
            <!-- Rejection Message -->
            {% if perms.verification.change_case or case.get_status != 'waiting' %}

            <!--  Metaphase Images  -->
                {% if case.get_metaphases %}
                    <div id="carouselExampleIndicators" class="carousel slide mx-auto" data-interval="false">
                        <ol class="carousel-indicators" style="bottom: -40px;">
                            {% for img in case.get_metaphases %}
                                {% if forloop.counter0 == 0 %}
                                <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
                                {% else %}
                                <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}"></li>
                                {% endif %}
                            {% endfor %}
                        </ol>
                        <div class="carousel-inner mt-3 rounded p-3 bg-white">
                            {% for img in case.get_metaphases %}
                                {% if forloop.counter == 1 %}
                                <div class="carousel-item active">
                                {% else %}
                                <div class="carousel-item">
                                {% endif %}
                                    <center>
                                    <div class="d-inline-flex">
                                        <h5 class="p-1 mb-1 text-dark text-uppercase">{{ img }}  </h5>
                                        <!--                                        <h4><span class="ml-1 badge badge-light">{{ img.get_result }}</span></h4>-->
                                    </div>
                                    </center>
                                        {% if img.result_image and perms.verification.change_case or case.get_status == 'accepted' %}
                                            <div class="row">
                                                <div class="col-7 text-center">
                                                    <img class="d-block w-100" src="{{ img.result_image.url }}">
                                                </div>
                                                <div class="col-5">
                                                    <div class="card mt-1 d-flex text-center"
                                                         style="border-color: #FCC046;">
                                                        <strong class="card-header p-1 text-center text-white"
                                                                style="background-color: #FCC046;">Chromosome 9</strong>
                                                        <div class="card-body d-inline-flex justify-content-center">
                                                            {% if img.get_chromosome9 %}
                                                                {% for ch in img.get_chromosome9 %}
                                                                    <div class="d-flex flex-column">
                                                                        <strong style="color: red;">{{ ch.name }}</strong>
                                                                        <img src="{{ ch.image.url }}">
                                                                        <small>{% if ch.get_prediction == 'PH' %}<strong>{% endif %}{{ ch.get_prediction }}{% if ch.get_prediction == 'PH' %}</strong>{% endif %}-{{ ch.prob }}%</small>
                                                                    </div>
                                                                {% endfor %}
                                                            {% else %}
                                                            <div class="d-flex flex-column">not found</div>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="card mt-1 d-flex text-center"
                                                         style="border-color: #FCC046;">
                                                        <strong class="card-header p-1 text-center text-white"
                                                                style="background-color: #FCC046;">Chromosome
                                                            22</strong>
                                                        <div class="card-body d-inline-flex justify-content-center">
                                                            {% if img.get_chromosome22 %}
                                                                {% for ch in img.get_chromosome22 %}
                                                                    <div class="d-flex flex-column">
                                                                        <strong style="color: blue;">{{ ch.name }}</strong>
                                                                        <img src="{{ ch.image.url }}">
                                                                        <small>{% if ch.get_prediction == 'PH' %}<strong>{% endif %}{{ ch.get_prediction }}{% if ch.get_prediction == 'PH' %}</strong>{% endif %}-{{ ch.prob}}%</small>
                                                                    </div>
                                                                {% endfor %}
                                                            {% else %}
                                                            <div class="d-flex flex-column">not found</div>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% else %}
                                    <center>
                                        <img class="d-block w-50" src="{{ img.original_image.url }}">
                                    </center>
                                        {% endif %}
                                </div>
                                {% endfor %}
                                </div>
                        </div>
                        <center class="mt-4 mb-2 ">
                            <a href="#carouselExampleIndicators" class="btn btn-dark btn-sm" role="button" data-slide="prev">
                                <i class="fas fa-chevron-left"></i> Previous
                            </a>
                            <a href="#carouselExampleIndicators" class="btn btn-dark btn-sm" role="button" data-slide="next">
                                Next <i class="fas fa-chevron-right"></i>
                            </a>
                        </center>
                    </div>
                {% else %}
                    <center>
                    <div class="alert alert-dark mt-3 w-75" role="alert">
                        <i class="fas fa-box-open"></i> There are no metaphase images for this case.
                    </div>
                    </center>
                {% endif %}
            {% else %}
                <center>
                <div class="alert alert-warning mt-3 w-75" role="alert">
                    <i class="fas fa-exclamation-triangle"></i> Detection results have not been verified by medical
                    technician.
                </div>
                </center>
            {% endif %}

        </div>
    </div>
{% endblock %}