{% extends "base_generic.html" %}

{% block title %}9-22{% endblock %}

{% block content %}
<div class="text-center" style="height: 70px;">
    {% if request.path == '/mycases/' %}
        <h1 class="mt-3 mb-2">My Cases</h1>
    {% elif keyword %}
        <h2 class="mt-3 mb-2">Search result for '{{ keyword }}'</h2>
    {% else %}
        <h1 class="mt-3 mb-2">Cases List</h1>
    {% endif %}
</div>
{% if case_list %}
    <table class="table table-hover text-center">
        <thead>
        <tr>
            <th>Status</th>
            <th>Case ID</th>
            <th>Uploading User</th>
            <th>Uploaded Time</th>
            <th>Verifying User</th>
            <th>Verified Time</th>
        </tr>
        </thead>
        <tbody>
        {% for case in case_list %}
        <tr>
            <td>
                {% if case.get_status == 'accepted' %}
                <p class="text-success">{{ case.get_status }}</p>
                {% elif case.get_status == 'rejected' %}
                <p class="text-danger">{{ case.get_status }}</p>
                {% else %}
                <p class="text-warning">{{ case.get_status }}</p>
                {% endif %}
            </td>
            <td>
                <u><a href="{% url 'case-detail' case.pk %}">{{ case.id }}</a></u>
            </td>
            <td>
                <p>{{ case.upload_user }}</p>
            </td>
            <td>
                <p>{{ case.upload_time }}</p>
            </td>
            <td>
                {% if case.confirm_user %}
                <p>{{ case.confirm_user }}</p>
                {% else %}
                <p>-</p>
                {% endif %}
            </td>
            <td>
                {% if case.confirm_time %}
                <p>{{ case.confirm_time }}</p>
                {% else %}
                <p>-</p>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% elif keyword %}
    <center>
    <div class="alert alert-dark text-center" role="alert" style="width: 500px;">
        Cases not found.
    </div>
    </center>
{% else %}
    <center>
    <div class="alert alert-dark text-center" role="alert" style="width: 500px;">
        There is no any case.
    </div>
    </center>
{% endif %}
{% endblock %}