{% extends "base_generic.html" %}

{% block title %}{{ case.id }}{% endblock %}

{% block content %}
    <h1 class="mt-2">Case Detail</h1>
    <hr class="mt-0 mb-4">
    <dl class="row">
        <dt class="col-sm-3 text-right">Case ID :</dt>
        <dd class="col-sm-3"><p>{{ case.id }}</p></dd>
        <dd class="col-sm-6 text-right">
            {% if 'Positive' in case.get_result %}
                <h3 class="mr-4"><span class="badge badge-danger">{{ case.get_result }}</span></h3>
            {% elif 'Negative' in case.get_result %}
                <h3 class="mr-4"><span class="badge badge-success">{{ case.get_result }}</span></h3>
            {% else %}
                <h3 class="mr-4"><span class="badge badge-warning">{{ case.get_result }}</span></h3>
            {% endif %}
        </dd>

        <dt class="col-sm-3 text-right">Owner :</dt>
        <dd class="col-sm-9"><p>{{ case.owner }}</p></dd>

        <dt class="col-sm-3 text-right">Uploaded by :</dt>
        <dd class="col-sm-9">
            <ul class="list-inline">
                <li class="list-inline-item">{{ case.upload_user }}</li>
                <li class="list-inline-item text-muted">({{ case.upload_time }})</li>
            </ul>
        </dd>

        <dt class="col-sm-3 text-right">Verified by :</dt>
        <dd class="col-sm-9">
            {% if case.get_status != 'waiting' %}
            <ul class="list-inline">
                <li class="list-inline-item">{{ case.confirm_user }}</li>
                <li class="list-inline-item text-muted">({{ case.confirm_time }})</li>
            </ul>
            {% else %}
                -
            {% endif %}
        </dd>
    </dl>

    <div class="card border-info" style="width: 650px:;">
        <h5 class="card-header text-white bg-info">Metaphase Images</h5>
        <div class="card-body">
        {% if images %}
            {% if perms.verification.change_case or case.get_status != 'waiting' %}
            <div id="carouselExampleIndicators" class="carousel slide mx-auto" data-interval="false">
                <ol class="carousel-indicators" style="bottom: -30px;">
                    {% for img in images %}
                        {% if forloop.counter == 1 %}
                        <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter }}" class="active"></li>
                        {% else %}
                        <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter }}"></li>
                        {% endif %}
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for img in images %}
                        {% if forloop.counter == 1 %}
                        <div class="carousel-item active">
                        {% else %}
                        <div class="carousel-item">
                        {% endif %}
                            <center>
                            <h5 class="p-1 mb-1 text-info text-uppercase">{{ img }}</h5>
                                <h4><span class="badge badge-light">{{ img.get_result }}</span></h4>
                                {% if img.result_image %}
                                    <img class="d-block w-75" src="{{ img.result_image.url }}">
                                    <div class="card mt-1 d-inline-flex border-dark">
                                        <strong class="card-header p-1 text-center text-white bg-dark">Chromosome 9</strong>
                                        <div class="card-body d-inline-flex justify-content-center">
                                            {% if img.get_chromosome9 %}
                                                {% for ch in img.get_chromosome9 %}
                                                    <div class="d-flex flex-column">
                                                        <strong style="color: red;">{{ ch.name }}</strong>
                                                        <img src="{{ ch.image.url }}">
                                                        <small>{{ ch.get_prediction }}-{{ ch.prob | floatformat:2 }}</small>
                                                    </div>
                                                {% endfor %}
                                            {% else %}
                                                <div class="d-flex flex-column">None</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="card mt-1 d-inline-flex border-dark">
                                        <strong class="card-header p-1 text-center text-white bg-dark">Chromosome 22</strong>
                                        <div class="card-body d-inline-flex justify-content-center">
                                            {% if img.get_chromosome22 %}
                                                {% for ch in img.get_chromosome22 %}
                                                    <div class="d-flex flex-column">
                                                        <strong style="color: blue;">{{ ch.name }}</strong>
                                                        <img src="{{ ch.image.url }}">
                                                        <small>{{ ch.get_prediction }}-{{ ch.prob | floatformat:2}}</small>
                                                    </div>
                                                {% endfor %}
                                            {% else %}
                                                <div class="d-flex flex-column">None</div>>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% else %}
                                    <img class="d-block w-75" src="{{ img.original_image.url }}">
                                {% endif %}
                            </center>
                        </div>
                        {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev" style="filter: invert(100%);">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next" style="filter: invert(100%);">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                </div>
                {% if perms.verification.change_case %}
                <form method="post" class="mt-4 text-center">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ case.id }}">
                    <button type="submit" value="accept" name="result" class="btn btn-success">Accept</button>
                    <button type="submit" value="reject" name="result" class="btn btn-danger">Reject</button>
                </form>
                {% endif %}
            </div>
            {% else %}
                <p>These results have not been verified by medical technician.</p>
            {% endif %}
        {% else %}
            <p>There are no images for this case.</p>
        {% endif %}
        </div>
    </div>
{% endblock %}