{% extends "base_generic.html" %}

{% load crispy_forms_tags %}

{% block title %}{{ case.id }}{% endblock %}

{% block content %}
<div class="row mx-2 mt-3" style="color: #555D60;">
        <div class="col-3">
            <div class="card" style="border-color: #D76C5E;">
                <h2 class="card-header text-white p-1 text-center" style="background-color: #D76C5E;">{{ case.id }}</h2>
                <div class="card-body">
                    <p><strong>Physician: </strong>{{ case.owner }}</p>

                    <p><strong>Differential Diagnosis: </strong><br>
                        {% if case.diff_diagnosis %}
                        {{ case.diff_diagnosis }}
                        {% else %}
                        -
                        {% endif %}</p>

                    <strong>Uploaded by: </strong>
                    <ul class="list-inline">
                        <li class="list-inline-item">{{ case.upload_user }}</li>
                        <li class="list-inline-item text-muted">({{ case.upload_time }})</li>
                    </ul>

                    <strong>Verified by: </strong>
                    {% if case.confirm_status == 0 or case.confirm_status == 1 %}
                    <ul class="list-inline">
                        <li class="list-inline-item">{{ case.confirm_user }}</li>
                        <li class="list-inline-item text-muted">({{ case.confirm_time }})</li>
                    </ul>
                    {% else %}
                    <p>-</p>
                    {% endif %}
<!--                    <small class="text-muted">Last modified on {{ case.modify_time }} by {{ case.modify_user }}</small>-->
                    <hr class="mt-3 mb-3">
                    <div class="mt-2">
                        <strong>Result: </strong>
                        <!--  Interpretation For Case  -->
                        {% if perms.verification.change_case or case.confirm_status == 1 %}
                            {% if case.result == 0 %}
                            <h5 class="text-success">No derivative chromosome is detected</h5>
                            {% elif case.result == 1 %}
                            <h5 class="text-danger">
                                Philadelphia Abnormality is possible ({{ case.count_der }}/{{ case.get_metaphases|length }})
                            </h5>
                            {% else %}
                            <h5 class="text-warning">This metaphase image can't be detected</h5>
                            {% endif %}
                        {% if not perms.verification.change_case and perms.verification.view_case %}
                        <form method="post" class="text-right" id="recheck-form">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ case.id }}">
                            <button type="button" name="recheck" class="btn btn-light btn-sm" data-toggle="modal"
                                    data-target="#recheckModal">
                                <i class="fas fa-redo-alt"></i> Recheck
                            </button>

                            <!--    Recheck Modal    -->
                            <div class="modal fade border-light" tabindex="-1" role="dialog" id="recheckModal">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <!--  Model Header  -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Rechecking Message</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <!--  Model Body  -->
                                        <div class="modal-body">
                                            <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
                                                {% for error in form.non_field_errors %}
                                                {{ error }}
                                                {% endfor %}
                                            </div>
                                            <div class="form-group">
                                                <textarea form="recheck-form" class="form-control align-top"
                                                          name="message" rows="5"></textarea>

                                                <div class="{% if field.errors %} invalid{% endif %}">
                                                    {% for error in field.errors %}
                                                    <p class="help-block">{{ error }}</p>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        <!--  Model Footer  -->
                                        <div class="modal-footer">
                                            <button type="submit" value="recheck" name="result" class="btn btn-primary">
                                                <i
                                                        class="fas fa-paper-plane"></i> Submit
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        {% endif %}
                        {% elif case.confirm_status == 0 %}
                        <h5 class="text-warning">Detection results are rejected</h5>
                        {% else %}
                        <h5 class="text-warning">Verification on pending</h5>
                        {% endif %}
                    </div>

                    <!--  Verification Button (Accept&Reject)  -->
                    {% if perms.verification.change_case %}
                    <form method="post" class="mt-3 text-center" id="confirm-form">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ case.id }}">
                        <button type="submit" value="accept" name="result" class="btn btn-success"><i
                                class="fas fa-check-circle"></i> Accept
                        </button>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#rejectModel"><i
                                class="fas fa-times-circle"></i> Reject
                        </button>

                        <!--    Reject Modal    -->
                        <div class="modal fade border-danger" tabindex="-1" role="dialog" id="rejectModel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <!--  Model Header  -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Rejection Message</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <!--  Model Body  -->
                                    <div class="modal-body">
                                        <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
                                            {% for error in form.non_field_errors %}
                                            {{ error }}
                                            {% endfor %}
                                        </div>
                                        <div class="form-group">
                                            <textarea form="confirm-form" class="form-control align-top" name="message"
                                                      rows="5"></textarea>

                                            <div class="{% if field.errors %} invalid{% endif %}">
                                                {% for error in field.errors %}
                                                <p class="help-block">{{ error }}</p>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <!--  Model Footer  -->
                                    <div class="modal-footer">
                                        <button type="submit" value="reject" name="result" class="btn btn-primary"><i
                                                class="fas fa-paper-plane"></i> Submit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    {% endif %}
                </div>
            </div>
            {% if perms.verification.change_case and case.reject_message %}
            <div class="alert alert-danger mt-2 w-100" role="alert">
                <i class="fas fa-comment-medical"></i> <strong>Medical Technician:</strong> {{ case.reject_message }}
            </div>
            {% endif %}
            {% if perms.verification.change_case and case.recheck_message %}
            <div class="alert alert-light mt-2 w-100" role="alert">
                <i class="fas fa-comment-medical"></i> <strong>Physician:</strong> {{ case.recheck_message }}
            </div>
            {% endif %}
        </div>
        <div class="col-9">
            {% if perms.verification.change_case or case.confirm_status %}

            <!--  Metaphase Images  -->
                {% if case.get_metaphases %}
                    <div id="carouselExampleIndicators" class="carousel slide mx-auto" data-interval="false">
                        <ol class="carousel-indicators" style="bottom: -40px;">
                            {% for img in case.get_metaphases %}
                                {% if forloop.counter0 == 0 %}
                                <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
                                {% else %}
                                <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}"></li>
                                {% endif %}
                            {% endfor %}
                        </ol>
                        <div class="carousel-inner rounded p-3 bg-white">
                            {% for img in case.get_metaphases %}
                                {% if forloop.counter == 1 %}
                                    <div class="carousel-item active">
                                {% else %}
                                    <div class="carousel-item">
                                {% endif %}
                                <div class="d-flex">
                                    <h5 class="p-1 mb-1 text-dark text-uppercase ml-auto">{{ img }}</h5>
                                    {% if perms.verification.change_case %}
                                    <a href="{% url 'retrain' img.id %}" class="h5 btn btn-outline-secondary btn-sm ml-auto" role="button">Label</a>
                                    {% endif %}
                                </div>
                                {% if img.result_image and perms.verification.change_case or case.confirm_status == 1 %}
                                    <div class="row">
                                        <div class="col-7 text-center">
                                            <img class="d-block w-100" src="{{ img.result_image.url }}">
                                        </div>
                                        <div class="col-5">
                                            <div class="card mt-1 d-flex text-center"
                                                 style="border-color: #FCC046;">
                                                <strong class="card-header p-1 text-center text-white"
                                                        style="background-color: #FCC046;">Chromosome 9</strong>
                                                <div class="card-body d-inline-flex justify-content-center">
                                                    {% if img.get_chromosome9 %}
                                                        {% for ch in img.get_chromosome9 %}
                                                            <div class="d-flex flex-column">
                                                                <strong style="color: red;">{{ ch.name }}</strong>
                                                                <img src="{{ ch.image.url }}" class="ch my-1"
                                                                     id="{{ ch.id }}-9"
                                                                     style="transform: rotate(0deg)"
                                                                     title="click to rotate" >
                                                                <small>
                                                                    {% if ch.get_prediction == 'DER' %}
                                                                    <strong>
                                                                        {% endif %}
                                                                        {{ ch.get_prediction }}
                                                                        {% if ch.get_prediction == 'DER'%}
                                                                    </strong>
                                                                    {% endif %}
                                                                    -{{ ch.prob}}%
                                                                </small>
                                                            </div>
                                                        {% endfor %}
                                                    {% else %}
                                                    <div class="d-flex flex-column">not found</div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="card mt-1 d-flex text-center"
                                                 style="border-color: #FCC046;">
                                                <strong class="card-header p-1 text-center text-white"
                                                        style="background-color: #FCC046;">Chromosome
                                                    22</strong>
                                                <div class="card-body d-inline-flex justify-content-center">
                                                    {% if img.get_chromosome22 %}
                                                        {% for ch in img.get_chromosome22 %}
                                                            <div class="d-flex flex-column">
                                                                <strong style="color: blue;">{{ ch.name }}</strong>
                                                                <img src="{{ ch.image.url }}" class="ch my-1"
                                                                     id="{{ ch.id }}-22"
                                                                     style="height: 90%; width: 90%; transform: rotate(0deg);"
                                                                     title="click to rotate" >
                                                                <small>{% if ch.get_prediction == 'PH' %}<strong>{% endif %}{{ ch.get_prediction }}{% if ch.get_prediction == 'PH' %}</strong>{% endif %}-{{ ch.prob}}%</small>
                                                            </div>
                                                        {% endfor %}
                                                    {% else %}
                                                    <div class="d-flex flex-column">not found</div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <center>
                                        <img class="d-block w-50" src="{{ img.original_image.url }}">
                                    </center>
                                        {% endif %}
                                </div>
                                {% endfor %}
                                </div>
                        </div>
                        <center class="mt-4 mb-2 ">
                            <a href="#carouselExampleIndicators" class="btn btn-dark btn-sm" role="button" data-slide="prev">
                                <i class="fas fa-chevron-left"></i> Previous
                            </a>
                            <a href="#carouselExampleIndicators" class="btn btn-dark btn-sm" role="button" data-slide="next">
                                Next <i class="fas fa-chevron-right"></i>
                            </a>
                        </center>
                    </div>
                {% else %}
                    <center>
                    <div class="alert alert-dark mt-3 w-75" role="alert">
                        <i class="fas fa-box-open"></i> There are no metaphase images for this case.
                    </div>
                    </center>
                {% endif %}
            {% else %}
            {% if case.confirm_status == 0 %}
                {% if case.reject_message %}
                <div class="alert alert-danger mt-2 w-75 mx-auto text-center" role="alert">
                    <i class="fas fa-comment-medical"></i> <strong>Medical Technician:</strong> {{ case.reject_message }}
                </div>
                {% else %}
                <div class="alert alert-danger mt-2 w-75 mx-auto text-center" role="alert">
                    <i class="fas fa-exclamation-triangle"></i> Detection results have been rejected by medical
                    technician.
                </div>
                {% endif %}
            {% else %}
            <div class="alert alert-warning mt-2 w-75 mx-auto text-center" role="alert">
                <i class="fas fa-exclamation-triangle"></i> Detection results have not been verified by medical
                technician.
            </div>
            {% endif %}
            {% endif %}
        </div>
    </div>
    {% if perms.verification.change_case %}
    <script>
        $(document).ready(function(){
            var deg = 0;
            $(".ch").click(function(){
            deg = deg + 45;
            document.getElementById(this.id).style.transform = `rotate(${deg}deg)`;
            });
        });
    </script>
    {% endif %}
{% endblock %}