<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <style type="text/css">
        .page-holder {
          min-height: 100vh;
        }

        .bg-cover {
          background-size: cover !important;
        }

        .carousel .carousel-indicators li {
          background-color: #fff;
          background-color: rgba(70, 70, 70, 0.25);
        }

        .carousel .carousel-indicators .active {
          background-color: #444;
        }

        .form-group>label{
            font-weight: bold;
        }

        #progressbar {
          display: none;
        }
    </style>

    <!--  CSS  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!--  JS, Popper.js, and jQuery  -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <title>{% block title %}Authentication{% endblock %}</title>
</head>
<body>
<!--    <div style="background: url(https://images.unsplash.com/photo-1518152006812-edab29b069ac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80)" class="page-holder bg-cover">-->

    {% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        {% if user.is_authenticated %}
        <a class="navbar-brand" href="{% url 'index' %}">9-22</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar" aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                </li>
                {% if perms.verification.add_metaphaseimage %}
                <li class="nav-item">
                    <a class="nav-link" href="/upload">Upload</a>
                </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Hello, {{ user.get_username }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if perms.verification.view_case %}
                        <a class="dropdown-item" href="/mycases">My cases</a>
                        <div class="dropdown-divider"></div>
                        {% endif %}
                        <a class="dropdown-item" href="{% url 'logout' %}?next={{ request.path }}">Logout</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="{% url 'index' %}" method="get">
                <input name= "search" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
        {% else %}
        <a class="navbar-brand text-uppercase" href="/allcases">Nine-Twentytwo</a>
        {% endif %}
    </nav>
    {% endblock %}

    <div id="content" class="main">
<!--        <div class="row justify-content-center">-->
<!--            <div class="col-8">-->
                {% block content %}{% endblock %}
<!--            </div>-->
<!--        </div>-->
    </div>
</body>
</html>